<form action="/event/edit" method="post">
    <div class="input_div">
    <div>
        <label for="">Event Title</label>
        <input type="text" name="title" value="<%= event.title %>">
    </div>
    <div>
        <label for="">Description</label></td><td><input type="text" class="description_box" name="description" value="<%= event.description %>"></td></tr>
    </div>    
    <div>
        <label for="">Image URL</label>
        <input type="text" name="image_url" value="<%= event.image_url %>">
    </div>    
    <div>
        <input type="hidden" name="id" value="<%= event.id %>">
        <input type="hidden" name="user_id" value="<%= event.userId %>">
    </div>
    </div>
    <button>Save Changes</button>
</form>

    <form action="/event/<%= event.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
    </form>
