<h2><%= event.title %></h2>
<p><%= event.description %></p>

<% if(event.user_id === sessionId) { %>
    <p><a href="/event/edit/<%= event.id %>">Edit Event</a></p>
<% } %>

<p><%= numberJoined %> people joined</p>

<form action="/count_in" method="post">
    <input type="hidden" name="event_id" value="<%= event.id %>">
    <input type="hidden" name="user_id" value="<%= sessionId %>">
    <button class="signup_button_div">Count me in!</button>
</form>