<div class="create_new_button">
    <h2 id="create_new_button"><a href="/event/new">Create your event</a></h2>
</div>

<div class="main">
    <% for(let event of events) { %>
        <a href="/event/<%= event.id %>">
            <article>
                <img src="<%= event.image_url %>" alt="">
                <div>
                    <h2><%= event.title %></h2>
                    <h3 class="short_description"><%= event.description %></h3>
                    
                    <div class="footer">
                        <p class="number_joined"><%= event.number_joined %> people joined</p>
                        <p class="location">Melbourne</p>
                    </div>
                </div>
            </article>
        </a>
    <% } %>
</div>